.noir{
    border-radius: 30px;
    background-color: white;
    color: white;
    width: 90px;
    height: 20px;
    margin: 10px;
    text-align: center;
    padding: 10px;
}
.menu{
    background-color: pink;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    width: 90.6%;
}

.menu ul{
    list-style: none;
    display: flex;
}
.menu ul li{
    padding: 10px 30px;
    font-size: 20px;
  
}
.para{
  background-color: antiquewhite;
  text-align: center;

}

.paragraphe{
 
  text-align: center;
  font-size: larger;
 background-color: rgba(103, 150, 154, 0);
}
 
body{ background-image:url( imageagence/codeimage.webp);}
  

.duree{
  text-align: center;
  background-color: rgb(252, 242, 242);
  height: 300px;
  

}


.footer-col{
    width: 22%;
    padding: 0 18px;
  }
  .footer-col h4{
    font-size: 20px;
    margin-bottom: 7px;
    position: relative;
    color: #353535;
  }
  
  .footer-col h4::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    background: #a4c83d;
    height: 3px;
    box-sizing: border-box;
    width: 50px;
  }

  
  .footter{
    background: pink;
    padding: 20px ;
    margin-top: 250px;
  }
  
  .row{
  
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
   
  }
  .logo {
    margin-top: 5px;
    padding-top: 5%;
    width: 250px;
  }
  
  
  
  .footter-col{
    width: 22%;
    padding: 0 18px;
  }
  .footter-col h4{
    font-size: 20px;
    margin-bottom: 7px;
    position: relative;
    color: #353535;
  }
  .footter-col h4::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    background: #a4c83d;
    height: 3px;
    box-sizing: border-box;
    width: 50px; }